<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>To Do List</title>
    <!--Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="header">
        <h1>Todo List App!</h1>
        <img src="https://vuejs.org/images/logo.png">
    </div>

    <div id="root">
        <form @submit.prevent="submitTodo(todo)">
            <input type="text" v-model="todo">
        </form>

        <div class="todos">
            <h3>To Do</h3>
            <ul v-for="todo in todos">
                <li>{{todo}}<button @click="submitCompleted(todo)">Complete</button><button @click="removeTodo(todo)">Remove</button></li>
            </ul>
        </div>

        <div class="todos">
            <h3>Completed</h3>
            <ul v-for="todo in completed">
                <li>{{todo}}</li>
            </ul>
        </div>

        <div class="todos">
            <h3>All</h3>
            <ul v-for="todo in todos">
                <li>{{todo}}</li>
            </ul>
            <ul v-for="todo in completed">
                <li>{{todo}}</li>
            </ul>
        </div>
    </div>

    <!--Vue 2.x-->
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <!--Scripts-->
    <script src="todos.js"></script>
</body>

</html>